section.eventStyle > h1 {
	text-align: left;
	margin-left: 20px;
	margin-top: 20px;
	font-size: 0.85em;
}

body.s1600x900 section.eventStyle > h1 {
	
}

.eventStyle .eventsInCollection {
	width: 500px;
	float: left;
	padding-right: 10px;
	padding-left: 10px;
	position: relative;
}

body.vertical .eventStyle .eventsInCollection {
	width: 400px;
}

body.s1024x768 .eventStyle .eventsInCollection {
	width: 640px;
}

body.s1024x768.vertical .eventStyle .eventsInCollection {
	width: 512px;
}

body.s1600x900 .eventStyle .eventsInCollection {
	width: 1200px;
}

body.s1600x900.vertical .eventStyle .eventsInCollection {
	width: 600px;
}

.eventStyle .eventsInCollection > article {
	position: absolute;
	width: 480px;
	font-size: 0.9em;
}

body.vertical .eventStyle .eventsInCollection > article {
	width: 380px;
}

body.s1024x768 .eventStyle .eventsInCollection > article {
	width: 614px;
}

body.s1024x768.vertical .eventStyle .eventsInCollection > article {
	width: 486px;
}

body.s1600x900 .eventStyle .eventsInCollection > article {
	width: 1180px;
}

body.s1600x900.vertical .eventStyle .eventsInCollection > article {
	width: 580px;
}

.eventStyle .eventsInCollection > article > h1 {
	margin-top: 20px;
}

.eventStyle .eventsInCollection > article {
      -moz-transition: opacity 400ms linear 0s;
      -webkit-transition: opacity 400ms linear 0s;
      -ms-transition: opacity 400ms linear 0s;
      transition: opacity 400ms linear 0s;
}

  /* Before */
.eventStyle .eventsInCollection > article { opacity: 0; }
  /* Now */
.eventStyle .eventsInCollection > article[aria-selected] { opacity: 1; }
  /* After */
.eventStyle .eventsInCollection > article[aria-selected] ~ article { opacity: 0; }

.eventStyle ul.eventRibbon {
	position: absolute;
	top: 0;
	left: 500px;
	height: 100%;
	padding-left: 20px;
	padding-top: 20px;
	list-style: none;
	border-left: 5px solid #777;
	font-size: 0.6em;
	margin-left: 20px;
}

body.vertical .eventStyle ul.eventRibbon {
	left: 400px;
	font-size: 0.55em;
}

body.s1024x768 .eventStyle ul.eventRibbon {
	left: 640px;
	font-size: 0.65em;
}

body.s1024x768.vertical .eventStyle ul.eventRibbon {
	left: 512px;
	font-size: 0.55em;
}

body.s1600x900 .eventStyle ul.eventRibbon {
	left: 1200px;
	font-size: 0.7em;
}

body.s1600x900.vertical .eventStyle ul.eventRibbon {
	left: 600px;
	font-size: 0.6em;
}

.eventStyle ul.eventRibbon > li {
	-moz-transition: margin 400ms linear 0s;
	-webkit-transition: margin 400ms linear 0s;
	-ms-transition: margin 400ms linear 0s;
	transition: margin 400ms linear 0s;
}

  /* Before */
.eventStyle ul.eventRibbon > li {
	margin: 0;
}
  /* Now */
.eventStyle ul.eventRibbon > li[aria-selected] {
	margin: 0 0 0 15px;
}
  /* After */
.eventStyle ul.eventRibbon > li[aria-selected] ~ li {
	margin: 0;
}

