* {
	margin: 0;
	padding: 0;
}

details {
	display: none;
}

body {
	width: 800px; height: 600px;
	margin-left: -400px; margin-top: -300px;
	position: absolute; top: 50%; left: 50%;
	overflow: hidden;
	cursor: none;
}

body.vertical {
	width: 600px; height: 800px;
	margin-left: -300px; margin-top: -400px;
}

body.s1024x768 {
	width: 1024px; height: 768px;
	margin-left: -512px; margin-top: -384px;
}

body.s1024x768.vertical {
	width: 768px; height: 1024px;
	margin-left: -384px; margin-top: -512px;
}

body.s1280x720 {
	width: 1280px; height: 720px;
	margin-left: -640px; margin-top: -360px;
}

body.s1280x720.vertical {
	width: 720px; height: 1280px;
	margin-left: -360px; margin-top: -640px;
}

body.s1600x900.vertical {
	width: 900px; height: 1600px;
	margin-left: -450px; margin-top: -800px;
}

body.s1600x900 {
	width: 1600px; height: 900px;
	margin-left: -800px; margin-top: -450px;
}

body.s1600x900.vertical {
	width: 900px; height: 1600px;
	margin-left: -450px; margin-top: -800px;
}

html {
	overflow: hidden;
}

section {
	position: absolute;
	pointer-events: none;
	width: 100%; height: 100%;
}

section[aria-selected] {
	pointer-events: auto;
}

body {
	display: none
}

body.loaded {
	display: block
}
