  html { background-color: black; }
  body {background-color: white;}
  /* A section is a slide. It's size is 800x600, and this will never change */
  section {
      /* The font from Google */
      font-family: 'Oswald', arial, serif;
      font-size: 2em;
  }
  h1, h2, h3 {
      margin-top: 50px;
      text-align: center;
  }
  ul {
      margin-left: 200px;
  }
  a { color: #FF0066; } a:hover {text-decoration: underline;}
  footer { position: absolute; bottom: 50px; right: 50px; }

  /* Transition effect */
  /* Feel free to change the transition effect for original
     animations. See here:
     https://developer.mozilla.org/en/CSS/CSS_transitions
     How to use CSS3 Transitions: */
  section {
      -moz-transition: top 300ms ease 0s;
      -webkit-transition: top 300ms ease 0s;
      -ms-transition: top 300ms ease 0s;
      transition: top 300ms ease 0s;
  }

  /* Before */
  section { top: -150%; }
  /* Now */
  section[aria-selected] { top: 0; }
  /* After */
  section[aria-selected] ~ section { top: +150% }
